name: Publish Module

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Update Manifest
        run: |
          sed -i "s/\"download\": \"\"/\"download\": \"https:\/\/github.com\/${{ github.repository }}\/releases\/download\/${{ github.ref_name }}\/module.zip\"/" module.json
          cat module.json

      - name: Zip Module
        run: zip -r module.zip . -x ".git/*" ".github/*" ".gitignore" "LOG" "*.log"

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            module.json
            module.zip
